<h1 class="text-4xl font-bold text-white">Number Base Converter</h1>
<label class="text-2xl font-bold text-white mt-8">Decimal</label>
<input type="string" class="bg-slate-200 rounded-lg m-2 p-2" [formControl]="decimal" (input)="changeDecValue()">
<label class="text-2xl font-bold text-white mt-6">Binary</label>
<input type="string" class="bg-slate-200 rounded-lg m-2 p-2" [formControl]="binary" (input)="changeBinValue()">
<label class="text-2xl font-bold text-white mt-6">Hexadecimal</label>
<input type="string" class="bg-slate-200 rounded-lg m-2 p-2" [formControl]="hexadecimal" (input)="changeHexValue()">
<label class="text-2xl font-bold text-white mt-6">Octal</label>
<input type="string" class="bg-slate-200 rounded-lg m-2 p-2" [formControl]="octal" (input)="changeOctValue()">